[Desktop Entry]
Name=Person Viewer
Name[cs]=Prohlížeč osob
Name[fr]=Afficheur de personnes
Name[hu]=Személy megjelenítő
Name[it]=Visore contatti
Name[nl]=Viewer van persoon
Name[pt]=Visualizador de Pessoas
Name[pt_BR]=Visualizador de pessoas
Name[sk]=Prehliadač osôb
Name[sv]=Personvisning
Name[uk]=Перегляд контактів
Name[x-test]=xxPerson Viewerxx
GenericName=Person Viewer
GenericName[cs]=Prohlížeč osob
GenericName[fr]=Afficheur de personnes
GenericName[hu]=Személy megjelenítő
GenericName[it]=Visore contatti
GenericName[nl]=Viewer van persoon
GenericName[pt]=Visualizador de Pessoas
GenericName[pt_BR]=Visualizador de pessoas
GenericName[sk]=Prehliadač osôb
GenericName[sv]=Personvisning
GenericName[uk]=Перегляд контактів
GenericName[x-test]=xxPerson Viewerxx
Comment=Displays your Nepomuk contacts
Comment[cs]=Zobrazí vaše kontakty v Nepomuku
Comment[fr]=Affiche vos contacts Nepomuk
Comment[hu]=Megjeleníti a Nepomuk partnereit
Comment[it]=Visualizza i contatti di Nepomuk
Comment[nl]=Toont uw contactpersonen van Nepomuk
Comment[pt]=Mostra os seus contactos no Nepomuk
Comment[pt_BR]=Mostra os seus contatos no Nepomuk
Comment[sk]=Zobrazí vaše kontakty Nepomuk
Comment[sv]=Visar dina Nepomuk-kontakter
Comment[uk]=Показ ваших записів контактів у Nepomuk
Comment[x-test]=xxDisplays your Nepomuk contactsxx
Exec=person-viewer
Type=Application
Terminal=false
Icon=kaddressbook
Categories=Qt;KDE;Office;
X-DBUS-StartupType=Unique
