[Desktop Entry]
Name=Person Viewer
Name[bs]=Preglednik osobe
Name[ca]=Visor de persones
Name[ca@valencia]=Visor de persones
Name[cs]=Prohlížeč osob
Name[de]=Personenbetrachter
Name[es]=Visor de personas
Name[fr]=Afficheur de personnes
Name[gl]=Visor de persoas
Name[hu]=Személy megjelenítő
Name[it]=Visore contatti
Name[nl]=Viewer van persoon
Name[pl]=Przeglądarka osób
Name[pt]=Visualizador de Pessoas
Name[pt_BR]=Visualizador de pessoas
Name[sk]=Prehliadač osôb
Name[sv]=Personvisning
Name[tr]=Kişi Görüntüleyici
Name[ug]=ئالاقەداش كۆرگۈ
Name[uk]=Перегляд контактів
Name[x-test]=xxPerson Viewerxx
GenericName=Person Viewer
GenericName[bs]=Preglednik osobe
GenericName[ca]=Visor de persones
GenericName[ca@valencia]=Visor de persones
GenericName[cs]=Prohlížeč osob
GenericName[de]=Personenbetrachter
GenericName[es]=Visor de personas
GenericName[fr]=Afficheur de personnes
GenericName[gl]=Visor de persoas
GenericName[hu]=Személy megjelenítő
GenericName[it]=Visore contatti
GenericName[nl]=Viewer van persoon
GenericName[pl]=Przeglądarka osób
GenericName[pt]=Visualizador de Pessoas
GenericName[pt_BR]=Visualizador de pessoas
GenericName[sk]=Prehliadač osôb
GenericName[sv]=Personvisning
GenericName[tr]=Kişi Görüntüleyici
GenericName[ug]=ئالاقەداش كۆرگۈ
GenericName[uk]=Перегляд контактів
GenericName[x-test]=xxPerson Viewerxx
Comment=Displays your Nepomuk contacts
Comment[ast]=Amuesa los tos contautos de Nepomuk
Comment[bs]=Prikazuje vaše Nepomuk kontakte
Comment[ca]=Mostra els vostres contactes del Nepomuk
Comment[ca@valencia]=Mostra els vostres contactes del Nepomuk
Comment[cs]=Zobrazí vaše kontakty v Nepomuku
Comment[de]=Zeigt Ihre Nepomuk-Kontakte an
Comment[es]=Muestra los contactos de Nepomuk
Comment[fr]=Affiche vos contacts Nepomuk
Comment[gl]=Mostra os contactos de Nepomuk.
Comment[hu]=Megjeleníti a Nepomuk partnereit
Comment[it]=Visualizza i contatti di Nepomuk
Comment[nl]=Toont uw contactpersonen van Nepomuk
Comment[pl]=Wyświetl swoje kontakty Nepomuka
Comment[pt]=Mostra os seus contactos no Nepomuk
Comment[pt_BR]=Mostra os seus contatos no Nepomuk
Comment[sk]=Zobrazí vaše kontakty Nepomuk
Comment[sv]=Visar dina Nepomuk-kontakter
Comment[tr]=Nepomuk kişilerinizi görüntüler
Comment[ug]=Nepomuk ئالاقەداشلىرىنى كۆرسىتىدۇ
Comment[uk]=Показ ваших записів контактів у Nepomuk
Comment[x-test]=xxDisplays your Nepomuk contactsxx
Exec=person-viewer
Type=Application
Terminal=false
Icon=kaddressbook
Categories=Qt;KDE;Office;
X-DBUS-StartupType=Unique
